@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body fw-normal">
        <h4 class="text-center pb-2">&copy; 2023 - GrupoAzureWebIII</h4>
        
        <ul>
            <li >Espinoza, María Chiara - DNI 42.673.774</li>
            <li>Oyaregui, Manuel - DNI 43.082.374</li>
            <li>Pereira, Rodrigo Nicolas - DNI 39.464.179</li>
            <li>Piedrabuena, Walter Nicolas - DNI 38.266.294</li>
        </ul>
    </div>
</div>
